/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [firstname]
      ,[lastname]
      ,[address]
      ,[city]
      ,[state]
      ,[zip]
      ,[phoneno]
      ,[email]
  FROM [AddressBookDb].[dbo].[addressbook]